@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
    --social-icon-size: 48px;
    --icon-kofi: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m8 1c-3.866 0-7 3.134-7 7s3.134 7 7 7 7-3.134 7-7-3.134-7-7-7zm-4.1094 3.5996h6.709s2.5996.0001 2.5996 2.5996-2.5996 2.6016-2.5996 2.6016c0 .8284-.6716 1.5-1.5 1.5h-4.5c-.8284 0-1.5-.6716-1.5-1.5v-4.4102c0-.4368.3542-.791.791-.791zm1.0098 2.7012c-.031 1.0667 2 2.5 2 2.5s2-1.3 2-2.5c0-.5033-.4004-1-.9004-1-.6977 0-1.0996.5-1.0996.5s-.3996-.5-1.0996-.5c-.466 0-.8861.5066-.9004 1zm5.6992-1v1.7988s.9004-.0035.9004-.9004-.9004-.8984-.9004-.8984z' fill='%23fff'/%3E%3C/svg%3E");
    --icon-bsky: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m8 1a7 7 0 0 0 -7 7 7 7 0 0 0 7 7 7 7 0 0 0 7-7 7 7 0 0 0 -7-7zm-3.8398 3.3906c.3984.006.8898.255 1.2656.5371 1.0417.782 2.1628 2.3679 2.5742 3.2188.4114-.8509 1.5325-2.4367 2.5742-3.2188.7516-.5643 1.9688-1.0006 1.9688.3887 0 .2775-.1586 2.3307-.252 2.6641-.3243 1.159-1.5073 1.4543-2.5586 1.2754 1.8376.3127 2.3064 1.3488 1.2969 2.3848-1.9173 1.9674-2.7559-.4924-2.9707-1.123-.0394-.1156-.0583-.171-.0586-.125-.0003-.046-.0192.0094-.0586.125-.2148.6306-1.0534 3.0905-2.9707 1.123-1.0095-1.0359-.5407-2.072 1.2969-2.3848-1.0513.1789-2.2343-.1164-2.5586-1.2754-.0933-.3334-.252-2.3866-.252-2.6641 0-.6947.3047-.9318.7031-.9258z' fill='%23fff'/%3E%3C/svg%3E");
    --icon-twit: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m8 1a7 7 0 0 0 -7 7 7 7 0 0 0 7 7 7 7 0 0 0 7-7 7 7 0 0 0 -7-7zm1.8281 3.1367c.5609 0 1.0682.2359 1.4238.6152.4438-.0874.8619-.2496 1.2383-.4727-.1452.4549-.4543.8385-.8574 1.0801.3949-.0474.7706-.153 1.1211-.3086-.2616.3912-.5918.7349-.9727 1.0098.003.083.0039.1694.0039.2539 0 2.577-1.9611 5.5488-5.5488 5.5488-1.1018 0-2.1278-.3227-2.9902-.877.1519.0185.307.0273.4648.0273.9143 0 1.755-.3109 2.4219-.834-.8528-.0156-1.5733-.5812-1.8223-1.3555.1193.0237.2412.0352.3672.0352.1778 0 .3507-.0239.5137-.0684-.8914-.18-1.5625-.9667-1.5625-1.9121v-.0254c.263.146.5627.2357.8828.2461-.5239-.3505-.8672-.9485-.8672-1.625 0-.3571.0955-.6915.2637-.9805.9625 1.1803 2.3983 1.9556 4.0195 2.0371-.0333-.143-.0508-.2907-.0508-.4434 0-1.0773.8738-1.9512 1.9512-1.9512z' fill='%23fff'/%3E%3C/svg%3E");
    --icon-steam: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m434.15 50.694c-238.88 0-434.75 183.99-453.41 417.66l243.86 100.6c20.618-14.017 45.679-22.356 72.517-22.356 2.3106 0 4.7989.1774 7.1095.1774l108.42-156.84v-2.3065c0-94.39 76.961-171.22 171.52-171.22s171.52 76.825 171.52 171.39-76.961 171.22-171.52 171.22h-3.9102l-154.63 110.18c0 1.9517.1777 3.9034.1777 6.0325 0 70.97-57.409 128.46-128.5 128.46-62.031 0-114.29-44.356-126.37-103.26l-174.54-72.212c54.032 191.09 229.46 330.9 437.77 330.9 251.32 0 455.01-203.33 455.01-454.21s-203.87-454.21-455.01-454.21zm-168.32 689.3-55.81-23.065c9.9533 20.581 27.016 37.792 49.767 47.373 49.233 20.404 105.93-2.8388 126.37-51.986 9.9533-23.775 9.9533-49.857.1777-73.809-9.7756-23.775-28.438-42.405-52.255-52.341-23.639-9.7584-48.878-9.4036-71.273-1.0646l57.765 23.775c36.259 15.081 53.499 56.776 38.214 92.971-14.93 36.017-56.698 53.228-92.957 38.146zm432.79-352.19c0-62.986-51.366-114.08-114.29-114.08-63.097 0-114.29 51.276-114.29 114.08 0 62.986 51.189 114.08 114.29 114.08 62.919 0 114.29-51.099 114.29-114.08zm-199.96-.1774c0-47.373 38.391-85.697 85.847-85.697 47.278 0 85.847 38.324 85.847 85.697s-38.569 85.697-85.847 85.697c-47.456 0-85.847-38.324-85.847-85.697z' fill='%23fff' transform='matrix(.015411 0 0 .015411 1.2969 .21874)'/%3E%3C/svg%3E");

    --background-color: #060608;
    --background-wave-color: #0b0c12;
    --link-color: #fad6b8;
}

html {
    height: 100%;
}

body {
    background-color: var(--background-color);
    background: linear-gradient(var(--background-wave-color) 0 20%, var(--background-color) 60%);
    
    color: white;

    font-family: "Open Sans";
    text-align: center;
}

.trunic-header img {
    height: 64px;
}

.trunic-header {
    font-size: 32px;
    font-weight: bold;

    margin: 1em 0;
}


a, a:visited {
    color: var(--link-color);
}

.socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.socials a {
    margin: 0 8px;
    text-decoration: none;
}

.socials img {
    display: block;
    cursor: pointer;
    height: 48px;
    background-color: var(--link-color);
}

.socials a > div {
    display: block;
    width: var(--social-icon-size);
    height: var(--social-icon-size);

    background-color: var(--link-color);
    transition-duration: 0.2s;
}

.socials a:hover > div {
    background-color: #fff;
    scale: 1.1;
}

a > div#kofi {
    mask: var(--icon-kofi);
    -webkit-mask: var(--icon-kofi);
}

a > div#bluesky {
    mask: var(--icon-bsky);
    -webkit-mask: var(--icon-bsky);
}

a > div#twitter {
    mask: var(--icon-twit);
    -webkit-mask: var(--icon-twit);
}

a > div#steam {
    mask: var(--icon-steam);
    -webkit-mask: var(--icon-steam);
}